doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    div.container-fluid
      div.row
        include includes/sidebar
        div.col-sm-9.offset-sm-3.col-md-10.offset-md-2.main
