div.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li
      a(href='/admin') Dashboard
    li
      a(href='/admin/courses') Courses
    //li
      a(href='/admin/sections') Sections
    li
      a(href='/admin/users') Users
