doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    h2 404 Not Found

    p We couldn't find what you were looking for. Sorry!

    include includes/footer.pug
