doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    div.container
      div.row
        div.col-xs-12
          h2 Courses

          ul
            each course in courses
              li
                a(href=`/courses/${course.id}`)= course.name

    include includes/footer.pug
