doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    h2= course.name

    p= course.body

    ul
      each section in course.sections
        li
          a(href=`/courses/${course.id}/sections/${section.id}`)= section.name

    include includes/footer.pug
