doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    div.container
      div.row
        div.col-xs-12
          h2 Welcome to my OLP!

          p.lead Please take a course!

    include includes/footer.pug
